<%- include('partials/header.ejs') %>
<div class="list-group btn-primary p-2">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= blogTitle %></h5>
        <small>3 days ago</small>
      </div>
      <p class="mb-1"><%= blogContent %></p>
      <small><%= blogWriter %></small>
</div>
<%- include('partials/footer.ejs') %>